
<h1>Welcome to DayRider</h1>
<h2>Peer-to-peer ride sharing, now available in select NYC locations!</h2>

<br><br>

<div class='container'>
    <marquee direction='right' scrollamount='5'>
        <% @bikes.each do |bike| %>
        <img class='show-img', src=<%=bike.bike_img %> alt="Bikes">
      <% end %>
    </marquee>
  </div>

  <br><br>
