
<h1>Welcome to DayRider</h1>
<br><br><br>
<br><br><br>

<div class='container'>
    <marquee direction='right' scrollamount='5'>
        <% @bikes.each do |bike| %>
        <img class='show-img', src=<%=bike.bike_img %> alt="Bikes">
      <% end %>
    </marquee>
  </div>
