
<h1>Welcome to DayRider</h1>

<div class='container'>

    <marquee direction='right' scrollamount='15'>
        <% @bikes.each do |bike| %>
        <img class='show-img', src=<%=bike.bike_img %> alt="Bikes">
      <% end %>
    </marquee>
  </div>