<h1>Shop Details</h1>
<br>
<br>

<h2><%= @shop.name %></h2>
<br>
<br>
# shop logo
<br>
<br>
<p><%= @shop.location %>
<br>
<br>
# website link
<br>
<br>
<br>

<%= link_to 'Reserve a bike', bikes_path %>
