<h1>All Bike Owners</h1>
<br><br>
<% @owners.each do |owner| %>
  <p> <%= link_to owner.name, owner_path(owner) %>
  <br> Age: <%= owner.age %>
  <br> Location: <%= owner.location %>
<%end%>
<br>
</p>
