<h1> Available Bikes: </h1>
<br><br>
<%= link_to 'Back to All Bikes', bikes_path %>
<br><br>


<% @available_bikes.each do | bike | %>
  <h2>Brand:  <%= link_to bike.model, bike_path(bike)%></h2>
  <p>Type: <%= bike.bike_type %>, Size: <%= bike.size%></p>
<%end%>


