<h1> bikes index </h1>
<%= link_to 'Show available bikes', availability_path %>

<ul>
<% @bikes.each do | bike | %>
  <h3>Model:  <%= link_to bike.model, bike_path(bike)%></h3>
  <p>Size: <%= bike.size%></p>
<%end%>
</ul>


