<h1> All Bikes </h1>
<br><br>
<%= link_to 'Show available bikes', availability_path %>
<br>
<% @bikes.each do | bike | %>
  <p> Brand: <%= link_to bike.model, bike_path(bike)%>
  <br> Type: <%= bike.bike_type%>, Size: <%=bike.size%>
<%end%>
<br>
</p>




