<h1> Bikes </h1>

<br><br>

<%= link_to 'Show available bikes', availability_path %>

<li>
<% @bikes.each do | bike | %>
  <h5> Model: <%= link_to bike.model, bike_path(bike)%> , size: <%=bike.size%></h5>
<%end%>
</li>


