<br>
<h1><%= "Model: #{@bike.model}, size: #{@bike.size}"%></h1>
<br><br>
<h2>Placeholder for image?</h2>
<br><br><br>

#button to reserve bike
<h3> <%= button_to 'create rental', rentals_path, method: :post%></h3>

<h3><%= link_to "All bikes", bikes_path %></h3>



