/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-image: url("https://www.itl.cat/pngfile/big/22-228592_bicycle-art-wallpapers-hd-resolution-is-4k-wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-color:white;
  background-size: 100%;
  color: whitesmoke;
  text-align: right;
}
#a hash syntax styles anchor tags
a {
  text-decoration: none;
  font-family: Palanquin;
  font-size: 30px;
  font-weight: bold;
}


a:link {
  color: white;
}
a:hover {
  color: yellowgreen;
}
a:visited {
  color: darkolivegreen;
}
h1{
}
/* #if you set a div with a classname you can select it with dot notation ex: <div class="container"> . </div>
you would select with .<classname>
.container {
}
#selecting a anchor tag within a nav tag <nav> <%=link_to "whatever", user_path</nav>
.nav a {                     <<<<can access nested tags this way
} */
